<hr>
<div class="row" id="footer">
  <div class="col-md-12">
    <small><i>Thanks for visiting this boilerplate app.  It will keep getting better.</i></small>
    <small><i>Help each other, and ask questions to your friends or Jeff!</i></small>
  </div>
</div>
