<script type="text/javascript" src="/js/adduserform.js"></script>
<form class="form-horizontal">
  <div>
    first name: <input type="text" class="form-control" id="inputfirstname">
  </div>
  <div>
    last name: <input type="text" class="form-control" id="inputlastname">
  </div>
  <div>
    <input type="button" class="btn btn-info" value="Register" id="registerBtn">
    <button type="submit" class="btn btn-info" id="registerBtn">Register</button>
  </div>
</form>
