<link rel="stylesheet" href="/css/uitests.css"></link>
<script type="text/javascript" src="/js/uitests.js"></script>

<div class="btn btn-default" id="clickMeButton">Click me!</div>

<div class="largeFont" id="paragraphOne">
  I want to run 25 miles in the Park
</div>
<div class="largeFont" id="paragraphTwo">
  I want to jump 3 feet high
</div>
<div class="largeFont">
  I want to swim 500 meters
</div>
<div class="largeFont">
  I want to play basketball
</div>
